.frame231325-frame231325 {
    width: 100%;
    height: 1280px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .frame231325-group81674 {
    top: 0px;
    left: 0px;
    width: 905px;
    height: 1280px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .frame231325-group81673 {
    top: 0px;
    left: 0px;
    width: 905px;
    height: 1280px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .frame231325-group81672 {
    top: 0px;
    left: 0px;
    width: 905px;
    height: 1280px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 1);
  }
  .frame231325-text {
    top: 273px;
    left: 58px;
    color: rgba(0, 0, 0, 1);
    width: 431px;
    height: auto;
    position: absolute;
    font-size: 28px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Proxima Nova;
    font-weight: 400;
    line-height: 38px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame231325-rectangle927 {
    top: 0px;
    left: 476px;
    width: 429px;
    height: 374px;
    position: absolute;
  }
  .frame231325-text05 {
    top: 46px;
    left: 58px;
    color: rgba(250, 95, 52, 1);
    height: auto;
    position: absolute;
    font-size: 61px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Proxima Nova;
    font-weight: 700;
    line-height: 71px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame231325-rectangle928 {
    top: 1043px;
    left: 0px;
    width: 130px;
    height: 236px;
    position: absolute;
  }
  .frame231325-rectangle929 {
    top: 845px;
    left: 0px;
    width: 905px;
    height: 60px;
    position: absolute;
    border-color: transparent;
  }
  .frame231325-text12 {
    top: 840px;
    left: 104px;
    color: rgba(0, 0, 0, 1);
    width: auto;
    height: auto;
    position: absolute;
    font-size: 28px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Proxima Nova;
    font-weight: 700;
    line-height: 71px;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame231325-vector {
    top: 584px;
    left: 142px;
    width: 51px;
    height: 47px;
    position: absolute;
  }
  .frame231325-vector1 {
    top: 788px;
    left: 382px;
    width: 28px;
    height: 26px;
    position: absolute;
  }
  .frame231325-vector2 {
    top: 496px;
    left: 521px;
    width: 37px;
    height: 34px;
    position: absolute;
  }
  .frame231325-vector3 {
    top: 301px;
    left: 610px;
    width: 97px;
    height: 53px;
    position: absolute;
  }
  .frame231325-text14 {
    top: 1073px;
    left: 150px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Proxima Nova;
    font-weight: 400;
    line-height: 38px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame231325-text16 {
    top: 1027px;
    left: 150px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Proxima Nova;
    font-weight: 400;
    line-height: 38px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame231325-text18 {
    top: 981px;
    left: 150px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Proxima Nova;
    font-weight: 400;
    line-height: 38px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame231325-text20 {
    top: 935px;
    left: 150px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Proxima Nova;
    font-weight: 400;
    line-height: 38px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame231325-text21 {
    font-weight: 400;
  }
  .frame231325-ellipse385 {
    top: 941px;
    left: 105px;
    width: 26px;
    height: 26px;
    position: absolute;
    border-color: transparent;
  }
  .frame231325-ellipse388 {
    top: 1079px;
    left: 105px;
    width: 26px;
    height: 26px;
    position: absolute;
    border-color: transparent;
  }
  .frame231325-ellipse387 {
    top: 1033px;
    left: 105px;
    width: 26px;
    height: 26px;
    position: absolute;
    border-color: transparent;
  }
  .frame231325-ellipse386 {
    top: 987px;
    left: 105px;
    width: 26px;
    height: 26px;
    position: absolute;
    border-color: transparent;
  }
  .frame231325-text23 {
    top: 1184px;
    left: 460px;
    color: rgba(250, 95, 52, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Proxima Nova;
    font-weight: 700;
    line-height: 38px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame231325-rectangle930 {
    top: 933px;
    left: 545px;
    width: 220px;
    height: 220px;
    position: absolute;
    border-color: transparent;
  }
  .frame231325-downloadiphonehandpngfreeiphonehandpng-photo-room1 {
    top: 398px;
    left: 105px;
    width: 459px;
    height: 394px;
    position: absolute;
    border-color: transparent;
  }
  